* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header and hero */

.vytautas {
  color: #333;
  background-color: cadetblue;
  padding-right: 80px;
  position: relative;
  text-align: right;
  
}
.header {
  background-color: #333;
  position: relative;
  padding-bottom: 7px;
  width: 105%;
}

.name {
  position: absolute;
}

.menu {
  display:flex;
  justify-content: flex-end;
  color:cadetblue;
  margin: 0;

}

.menu a {
  display:inline;
  margin: 10px;
  font-weight: bold;
  text-decoration: none;
  color: cadetblue;
  border-bottom-style: solid;
  font-size:x-large;

}

.hero-banner {

  background-image: url('forest_face.jpg');
  height: 50vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position:relative;
  margin-bottom: 35px;
}

.hero-banner div {
  position: absolute;
  right: 296px;
  bottom: 0px;
  color: cadetblue;
  font-size: larger;
}

.page-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "sidebar1 page-section1"
  "sidebar2 page-section2"
  "sidebar3 page-section3";
  margin: 70px;
 
}

/* main content sections for each sidebar and page section */

.sidebar1 {
  grid-area: sidebar1;

}
.sidebar2 {
  grid-area: sidebar2;
}
.sidebar3 {
  grid-area: sidebar3;
}

.side-styling {
  border-right: 3px solid cadetblue;

}

.side-styling h2 {
margin-right: 20px;
text-align: right;
font-size: 50px;
color: cadetblue;

}

.page-section1 {
  grid-area: page-section1;

}
.page-section2 {
  grid-area: page-section2;

}
.page-section3 {
  grid-area: page-section3;

}



/* work section layout */
#work {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

upper-image .flex-item
{
  margin-bottom: 20px;
}


upper-image {
  position: relative;
  max-width: 75%;
  max-height: 30%;
}

.main-image {
  width: 100%; /* Make the top image take the full width of the container */
  height: auto; /* Maintain aspect ratio */
}


.lower-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 76%;
  margin-top: 30px;

}

.flex-item {
  flex: 1 1 calc(50% - 10px);
  margin-right: 10px;
  position: relative;
  box-sizing: border-box; /* Include padding and border in total width and height */
}

.flex-item img {
  width: 100%; /* Ensure the image takes up 100% of the container's width */
  height: 100%; /* Maintain the aspect ratio of the image */
  display: block; /* Remove extra space beneath inline elements */
}

.lower-images .flex-item img {
  width: 100%;
  height: 80%;
}
img {
  border: 3px solid cadetblue
}


/* text inside images */



.text-block {
      position: absolute;
      transform: translate(0%, -140%);
      background-color: cadetblue;
      padding: 20px;
      text-align: center;
}

/*this controls  images changing when hovered over */

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 158, 160, 0.356); 
  transition: background-color 0.3s ease;
}

.lower-images .image-overlay {

  height: 80%;

}

.interactive-image:hover .image-overlay{
  cursor:pointer;
  background-color: rgba(0, 17, 255, 0)
  }





#about {
  
}

#contact ul {
  list-style: none;
  display:flex;
  justify-content: space-around;
  
}

#contact ul li {
  border-bottom: 3px solid cadetblue;
  color:#333;
  font-size: x-large;


}


@media (max-width: 1100px) {
.hero-banner {
    width: 105%;
     }
  .name {
      position: relative;
    }
    .page-wrapper {
      width:100vw;
      grid-template-columns:1fr ;
      grid-template-areas:
          "sidebar1 " 
          "page-section1"
          "sidebar2 "
           "page-section2"
          "sidebar3 "
           "page-section3 ";
      margin: 20px;
     
    }
.side-styling {
    border-bottom: 5px solid cadetblue;
    border-right: none;
  }
  .side-styling h2 {
    text-align: left;

  }

  #contact ul {
    flex-direction: column;
    align-items: flex-start;
  }
  
}

@media (max-width: 600px) {

  .text-block {
    padding: 0;

  }

}


@media (max-width: 480px) {
}