* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header and hero */

.menu {
  display:flex;
  justify-content:flex-end;
  color:cadetblue;
  border-bottom-style: solid;

}

.menu li {
  display:inline;
  margin: 10px;
  font-weight: bold;
}

.hero-banner {

  background-image: url("/challenge/starter/images/02-hero-bg.jpg");
  height: 50vh;
  background-size: cover;

}


.page-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "sidebar1 page-section1"
  "sidebar2 page-section2"
  "sidebar3 page-section3";
  gap: 10px;
}

/* main content sections for each sidebar and page section */

.sidebar1 {
  grid-area: sidebar1;

}
.sidebar2 {
  grid-area: sidebar2;
}
.sidebar3 {
  grid-area: sidebar3;
}

.side_styling {
  border-right: 10px solid #220d80;
}

.page-section1 {
  grid-area: page-section1;

}
.page-section2 {
  grid-area: page-section2;

}
.page-section3 {
  grid-area: page-section3;

}



/* work section layout */
#work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 100%; /* Make the top image take the full width of the container */
  height: auto; /* Maintain aspect ratio */
}

.bottom-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; /* Add space between top and bottom images */
}

.bottom-images img {
  width: 48%; /* Each image takes up 48% of the container width */
  height: auto;
  margin: 1%; /* Add a small margin between the images */
}
img {
  border: 5px solid #555;
}





#about {
  border: 5px solid #333;
}